# SQL Server Environment Configuration Template
# Rename this file to sqlserver.env and update values for your environment

# Tells the SQL Server container that you accept the End User License Agreement.
ACCEPT_EULA=Y

# Sets the password for the system administrator (SA) account
SA_PASSWORD=<DB_PASSWORD>